*{
    margin: 0;
    padding: 0;
    font-family: none;
}
.ads_slider{

padding-top: 130px;

margin-top: 40px;
}
.slide_div{
    position: relative;
    max-height: 295px;
    overflow: hidden;
    z-index: 0;
}
.slide_div::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* background-color: #000; */
    background: linear-gradient(transparent, #0000007c);
    z-index: -1;
}
.slide_div a{
    z-index: 2;
}
.slide_div a img{

width: 100%;

object-fit: fill;

height: 300px;
}
.slide_div a p{
    color: #ff9c00;
    margin: 0px;
    filter: drop-shadow(2px 4px 6px black);
    background: #000000a6;
    width: fit-content;
    padding: 0px 10px;
    border-radius: 15px;
}
.slide_div a h3{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    margin: 0px;
    filter: drop-shadow(2px 4px 6px black);
    margin: 5px 0px;
}
.slide_div a h4{
    color: #fff;
    filter: drop-shadow(2px 4px 6px black);
}
.slide_div a h5{
    color: #fca41a;
    margin: 0;
    filter: drop-shadow(2px 4px 6px black);
    margin: 5px 0px;
}
.slide_text{
    position: absolute;
    background: linear-gradient( transparent, #000000fc);
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
}
@media(max-width: 992px){
    .slide_div{
        position: relative;
        height: 180px;
        overflow: hidden;
        z-index: 0;
    }
}
@media(max-width: 426px){
    .ads_slider {
        margin-top: 0px;
    }
}


.product_list_premium{
    display: flex;
    border: 1px solid #cdcbcb;
    padding: 5px;
    border-radius: 8px;
    margin: 10px 0px;
    box-shadow: 4px 5px 3px 0px #0000001c;
    transition: .4s all ease-in-out;
    box-shadow: 0px 0px 25px #b4cdedb3;
}
.product_list_premium:hover{
    
transform: translateY(-5px);
    
box-shadow: 10px 10px 10px 0px #b4cdedb3;
}
.pro_img_box{

text-align: center;

max-height: 150px;

overflow: hidden;

padding: 0px;

margin: 0;
}
.pro_img_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pro_details_box{

}
.pro_details_box a{
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 500;
}
.pro_details_box h4{
    font-weight: 400;
    color: #676767;
}
.pro_details_box h2{        
    font-size: 16px;        
    color: #ff9c00;
}
.pro_details_box p{
    margin: 5px 0px;
}
.member,.star_member{
    background: #d4d1d1b8;
    border-radius: 5px;
    padding: 2px 5px;
    /* text-transform: uppercase; */
    font-weight: 400;
    color: #ff9c00;
    font-size: 12px;
    margin-right: 3px;
}
.star_member{
    color: #fff;
    background: green;
}
.star_member img,.varify_member img{
    width: 22px;
}
.varify_member{
    background: #281ae7b8;
    border-radius: 5px;
    padding: 2px 5px;
    /* text-transform: uppercase; */
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    margin: 0px 3px;
    /* height: 20px !important; */
}
.slide_div a strong{

}
.slide_div a strong i{
    
}
@media(max-width: 576px){
    .pro_details_box h3 {
        font-size: 15px;
    }
    .pro_details_box h4 {
        font-size: 12px;
    }
    .member, .star_member {
        font-size: 10px;
    }
    .varify_member {
        font-size: 10px;
    }
    .pro_details_box h3 {
        margin-bottom: 5px;
    }
    .product-filter-wrap {
        padding-bottom: 0px;
    }
    .slide_div a h3 {
        font-size: 14px;
    }
    .slide_div a p {
        font-size: 10px;
    }
    .form-check-input {
        width: 12px;
        height: 12px;
    }
}

/* grid here  */
.product_grid{

border: 1px solid #bab4b49e;

padding: 0px;

text-align: center;

border-radius: 10px;

box-shadow: 2px 3px 5px #b4cdedb3;

margin: 5px;
}
.grid_img{

width: 100%;

max-height: 165px;

border-top-left-radius: 10px;

border-top-right-radius: 10px;
}
.product_grid img{

object-fit: cover;

max-height: 210px;
}
.pro_details_grid {

}
.pro_details_grid .varify_member{
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
}
.pro_details_grid .varify_member img{
    width: 20px !important;
}   
.pro_details_grid h3{

}
.pro_details_grid p{

margin: 0px;

margin-bottom: 5px;
}
.pro_details_grid h4{

font-size: 14px;

color: #676c84;
}
.pro_details_grid a{

font-weight: 500;

font-size: 16px;

overflow: hidden;

display: -webkit-box;

-webkit-line-clamp: 2;

line-clamp: 1;

-webkit-box-orient: vertical;

margin-bottom: 5px;
}
.pro_details_grid h2{
    font-size: 16px;
    color: #ff9c00;
}
.slide_div .varify_member{
    display: flex !important;
    width: fit-content;
    justify-content: space-around;
    margin: 0px;
}
.slide_div .varify_member img{
    width: 20px !important;
    max-height: 18px;
}
@media(max-width: 576px){
    .grid_img {
        max-height: 100px;
    }
    .pro_details_grid a {
        line-height: 20px;
        font-size: 14px;
        -webkit-line-clamp: 1;
    }
    .pro_details_grid h4 {
        font-size: 12px;
    }
    .pro_details_grid h2 {
        font-size: 14px;

    }
   
}
@media(max-width: 376px){
    .pro_details_grid .varify_member img {
        width: 12px !important;        
    }
    .varify_member {
        padding: 0px 5px;
    }
}

/* ====================================== items page start here ====================================== */
.img_slider img{
    position: relative;
}
.img_slider  .owl-next{
    display: block;
    position: absolute;
    right: 0% !important;
    top: 50%;
    transform: translate(0%, -50%);
    background: #ff9c00;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #fff;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}
/* .img_slider  .owl-prev,.img_slider  .owl-next{
    background-color: transparent !important;
    box-shadow: none !important;
} */
.img_slider .owl-prev{
    display: block;
    position: absolute;
    left: 0% !important;
    top: 50%;
    transform: translate(0%, -50%);
    background: #ff9c00;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #fff;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}
.img_slider{

height: max-content;

max-height: 300px;

overflow: hidden;

margin-bottom: 20px;
}

/* details page star here  */
.addi_details{

}
.addi_details h4{

border-bottom: 1px solid #bababa82;

padding-bottom: 5px;
}
.addi_details ul li h5{font-weight: 600;font-family: none;}
.addi_details ul li p{

margin: 0px;

margin: 0px 0px 0px 20px;
}
.addi_details ul li{

display: flex;

list-style: none;

justify-content: space-between;

align-items: end;

border-bottom: 1px solid #b4b4b44a;

padding: 5px 0px 0px 0px;
}
.addi_details ul{
    
padding: 0px;
    
margin-top: 30px;
}
.d_width{
    width: 50%;
}
.btn_share{
    margin: 0px 3px;
    transition: .4s all ease-in-out;
    border: none;
    background: transparent;
}
.btn_share img{
    width: 25px;
}   
.btn_share:hover img{
    transform: scale(1.1);
}
/* details page end here  */

/* massage popup part start here  */
.msg_popup{
    height: 90%;
    width: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    border-radius: 10px;
    animation: slideUp .20s linear ;
}
@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translate(-50%,-45%);
    };
    100%{
        opacity: 1;
    }
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #404040ab;
    left: 0px;
    top: 0px;
    z-index: 999;
    display: none;
}
.msg_popup .wt-admin-dashboard-msg-2 .wt-dashboard-msg-box {
    height: 75vh;
    overflow: hidden;
}

/* popup  */

.popup :is(header, .icons, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
  }
  header span{
    font-size: 21px;
    font-weight: 600;
  }
  header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  } 
  header .close{
    color: #878787;
    font-size: 17px;
    background: #f3f3f3;
    height: 33px;
    width: 33px;
    cursor: pointer;
  }
  header .close:hover{
    background: #ebedf9;
  }
  .popup .content{
    margin: 20px 0;
  }
  .popup .icons{
    margin: 15px 0 20px 0;
  }
  .content p{
    font-size: 16px;
  }
  .content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  .icons a i{
    transition: transform 0.3s ease-in-out;
  }
  .icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
  }
  .icons a:nth-child(1):hover{
    background: #1877F2;
  }
  .icons a:nth-child(2){
    color: #46C1F6;
    border-color: #b6e7fc;
  }
  .icons a:nth-child(2):hover{
    background: #46C1F6;
  }
  .icons a:nth-child(3){
    color: #e1306c;
    border-color: #f5bccf;
  }
  .icons a:nth-child(3):hover{
    background: #e1306c;
  }
  .icons a:nth-child(4){
    color: #25D366;
    border-color: #bef4d2;
  }
  .icons a:nth-child(4):hover{
    background: #25D366;
  }
  .icons a:nth-child(5){
    color: #0088cc;
    border-color: #b3e6ff;
  }
  .icons a:nth-child(5):hover{
    background: #0088cc;
  }
  .icons a:hover{
    color: #fff;
    border-color: transparent;
  }
  .icons a:hover i{
    transform: scale(1.2);
  }
  .content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #757171;
  }
  .field.active{
    border-color: #7d2ae8;
  }
  .field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i{
    color: #7d2ae8;
  }
  .field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .field button{
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
  }
  .field button:hover{
    background: #8d39fa;
  }
  .share_box{
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }





@media(max-width: 1281px){
    .product_grid img {
        object-fit: cover;
        max-height: 150px;
    }
}
@media(max-width: 768px){
    
    .img_slider {
        height: max-content;
        max-height: 150px;
    }
}
@media(max-width: 576px){
    .product_grid img {
        max-height: 110px;
    }
    .product_list_premium:hover{        
        box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
        transform: none;
        transition: .4s all ease-in-out;
    }
    .pro_details_box h2 {
        font-size: 14px;
    }
    .pro_details_box a {
        font-size: 14px;
    }
}
@media(max-width: 426px){
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .img_slider {
        height: max-content;
        max-height: 130px;
    }
}
@media(max-width: 375px){
    .product_grid img {
        max-height: 75px;
    }
    .owl-carousel .owl-item img {
        height: 100%;
        object-fit: fill;
    }
}
@media(max-width: 321px){
    .img_slider {
        height: max-content;
        max-height: 110px;
    }
}